
.BackGroundImage{
    background: url('../assets/FondEcran.png') ; /* Ajoutez le chemin de votre image */
    height: 100vh;
    background-size: cover;  
}


body{
    margin: 0px;
}

.Games{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.Left{
    margin-right: 50px;
    margin-left: 50px;
    text-align: center;
    flex:1;
    border-radius: 20%;
}
.ImgJeux{
    width: 50%;
    box-shadow:0 0 5px #FFF, 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #F59715, 0 0 20px #F59715, 0 0 25px #F59715, 0 0 30px #F59715, 0 0 35px #F59715 ;
    border-radius: 7px;
}

.Right{
    margin-right: 50px;
    margin-left: 50px;
    text-align: center;
    flex:1;
    border-radius: 20%;
}


/* Boutton Statisique */
  .custom-primary-btn {
    background-color: #F59715;
    color: #ffffff;
    box-shadow:0 0 5px #FFF, 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #F59715, 0 0 20px #F59715, 0 0 25px #F59715, 0 0 30px #F59715, 0 0 35px #F59715 ;
  }
  
  .custom-hover:hover {
    background-color: #00ccff;
    color: #030303;
    box-shadow:0 0 5px #FFF, 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #00ccff, 0 0 20px #00ccff, 0 0 25px #00ccff, 0 0 30px #00ccff, 0 0 35px #00ccff ;
  }

  .BtnStat{
    width: 100%;
    text-align: center;
    bottom: 20px;
  }